* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color variables */
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    /* Font */
    font-family: 'Outfit', sans-serif;
}

html, body {
    background-color: var(--light-gray);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* Card styling */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 5%;
    margin: 0 27px 0 27px;
    padding: 8px 16px 16px 16px;
    height: 500px;
    width: 315px;
}

/* Image styling */
.qr-code-image {
    width: 290px;
    height: 290px;
    max-width: 100%;
    border-radius: 5%;
}

/* Text styling */
main h1 {
    font-weight: 700;
    font-size: 22px;
    color: var(--dark-blue);
    padding: 24px 16px 0 16px;
    text-align: center;
}
main p {
    font-weight: 400;
    font-size: 15px;
    color: var(--grayish-blue);
    padding: 16px;
    text-align: center;
}

/* Attribution styling */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.attribution {
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}